* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F6F8;
    display: flex;
    font-size: 1rem;
    line-height: 1.35
}

.app {
    flex: 1;
    display: flex;
}

@mixin dark {
    background-color: #2A3747;
    color: white;
}

@mixin light {
    background-color: white;
    color: #707070;
}

header {
    @include light;
    box-shadow: 0px 2px 23px #00000021;
    flex-basis: 75px;
    padding: 24px;

    .student-icon {
        float: left;

        & > svg {
            color: black;
        }
    }

    .summary {
        display: inline-block;
        color: black;
        margin-left: 16px;

        p {
            margin: 0;
            font-weight: bold;
        }

        .member-count {
            font-size: 1.5rem;
        }

        .other-text {
            text-transform: uppercase;
        }
    }
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-content {
    padding: 34px 54px;
}

.card {
    @include light;
    box-shadow: 0px 3px 9px #00000012;
    margin: 12px;
    width: 305px;
    height: 526px;
    padding: 24px;

    h3 {
        color: black;
        margin: 8px 0 28px;
        font-size: 1.4rem;
    }
}

aside {
    @include dark;
    height: 100%;
    flex-shrink: 1;
    flex-basis: 36px;
    transition: flex-basis 0.5s;
    &.expanded {
        flex-basis: 324px;
    }

    span, form {
        opacity: 0;
        width: 0;
        transition: opacity 0.3s width 0.5s;
    }
    &.expanded {
        span, form {
            width: auto;
            opacity: 1;
        }
    }

    form {
        padding-left: 24px;
    }
}

.sidebar-title {
    display: flex;
    align-items: center;
    padding: 24px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;

    .logo {
        flex-basis: 50px;
    }

    span {
        text-align: center;
        font-size: 1.5rem;
    }

    &:focus {
        outline: none;
    }
}

.gender-options-toggle {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    font-size: 1rem;

    .svg-inline--fa {
        font-size: 1.5em;
    }
}

fieldset {
    border: none;

    label {
        clear: both;
        display: block;
        margin: 8px 12px;

        input {
            float: left;
            margin-right: 8px;
        }
    }
}